<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>one of us ! one of us ! one of us !</h1>
    <form method="POST">
        Imie: <input type="text" name="firstName"> <br>
        Nazwisko: <input type="text" name="lastName"> <br>
        Nazwa użytkownika: <input type="text" name="login"> <br>
        Hasło: <input type="password" name="password"> <br>
        <input type="submit" value="Zarejestruj"> <br>

    </form>
</body>
</html>